{% extends 'media/base.html' %}
{% load static%}
{% block content %}
<script type="text/javascript">
    document.title = "VIDEOwebsite";
</script>
<div class="row">
    <div class="h2-header">
                <h2>
                Top videos 
            </h2>
            <div class="segmented">
                    <label class="checked"><input type="radio" name="segmented" checked /> Date</label>
                    <label><input type="radio" name="segmented" /> Views</label>
                  </div>
                </div>
</div>

<div class="row">


{% for post in posts %}
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
    <div class="post">

        <a href="{% url 'post_detail' pk=post.pk %}">
        <div class="list-img-wrapper">
                <img src="{% get_media_prefix %}{{ post.image }}" alt="post image" class="list-img">
                <i class="fa fa-play-circle img-icon" aria-hidden="true"></i>
        </div>
    </a>
        <div class="date">
            {{ post.published_date }}
        </div>
        <div class="list-author">
                <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
                <!-- <p>{{ post.text|linebreaksbr }}</p> -->
                <div>Posted by: {{ post.author }}</div>
                Views: {{post.views}} Comments: {{ post.comments.count }}
                
        </div>
        
    </div>
    
</div>
{% endfor %}
</div>
{%endblock%}
